
<table class="min-w-full bg-white border border-gray-300 shadow-md rounded-md overflow-hidden">
  <thead>
    <tr class="bg-gradient-to-r from-indigo-700 to-blue-500 text-white">
      <th class="py-3 px-6 text-left">Ürün Adı</th>
      <th class="py-3 px-6 text-left">Stok</th>
      <th class="py-3 px-6 text-left">Fiyat</th>
      <th class="py-3 px-6 text-left">Kategori</th>
      <th class="py-3 px-6 text-left">
        <button (click)="addProduct()" class="bg-blue-600 text-white px-2 py-1 text-center rounded-md hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue">
          <i class="bi bi-plus-circle text-md mr-1"></i> Yeni Ekle
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products" class="hover:bg-gray-100 transition duration-300">
      <td class="py-3 px-6">{{product.name}}</td>
      <td class="py-3 px-6">{{product.unitInStock}}</td>
      <td class="py-3 px-6">{{product.unitPrice}}</td>
      <td class="py-3 px-6">{{product.category.name}}</td>
      <td class="py-3 px-6 flex items-center space-x-2">
        <a (click)="updateProduct(product.id)" class="text-yellow-500 hover:text-yellow-700 cursor-pointer">
          <i class="bi bi-pencil-square text-lg"></i>
        </a>
        <span class="text-gray-500">-</span>
        <a (click)="deleteProduct(product.id)" class="text-red-500 hover:text-red-700 cursor-pointer">
          <i class="bi bi-trash3 text-lg"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
